<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/index.css">
        <title>Google LSA Grading</title>
    </head>

    <body>
        <!-- Top Navigation Bar -->
        <nav class="top-nav">
            <div class="nav-items">
                <a href="/home" class="nav-item">Home</a>
            </div>
        </nav>

        <div id="main-content">
            <h1><center>Google LSA Grading (Standard)</center></h1>
            
            <center>
                <p>Select Account</p>

                <div class="main-instance" onclick="window.location.href='/glsa-solo'">
                    <div class="main-title">Advantage</div>
                    <!--<a href="/index" class="transcript-title" style="text-decoration: none;">Podium (Advantage)</a>-->
                </div>
            </center>

            

        <script>
           
        </script>

    </body>
</html>
